html {
    background-color : #efefef;
    font-size        : .14rem;
    touch-action     : manipulation;
}

.container {
    display        : flex;
    flex-direction : column;
}

.scroll-wrapper {
    display        : flex;
    flex           : 1;
    flex-direction : column;
    overflow       : hidden;
}